<a href="https://colab.research.google.com/github/emmanuelotech/Otic_Foundation_Python/blob/main/03_PythonOverview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Overview

We'll start with the code we've written in the introductory module.

It was:


```
print("Hello, World!")
```

Here we are using the "print" function to print the line "Hello, World!".

*You may have the question, what is a function?We'll come back to that, when we'll be writing our own functions.Now, solve this exercise first*

❓ Q1. Use the `print` function to print the line "My name is {Your Name}!".

⚒ Solve by replacing the name "Julius" with your name.

In [1]:
# For example, if your name is Julius.
print("My name is Emmanuel Okello")

My name is Emmanuel Okello

## Declaring Variables

⚒ Declare a integer variable for the whole number 5 & use the `print` function to print the integer.

In [ ]:
# Declare the variabe number_five
number_five = 5

# Print the int
print(number_five)

5

**Python also supports float(decimal) numbers**

⚒ Declare a float variable for the decimal number 4.5 & use the `print` function to print the number.

In [ ]:
# Declare the variable my_decimal_number
my_decimal_number = 4.5

# Print the int
print(my_decimal_number)

4.5

**We'll play with numbers in the next module, let's just do a addition and a product for now**

⚒ Declare a integer of value 10 and a float of value 5.0 & print their sum and product.

In [ ]:
# Declare a integer and a float
integer_number = 10
decimal_number = 5.0

#Calculate the sum
sum = integer_number + decimal_number

# Print sum
print("The sum is:")
print(sum)

# Print the product directly in a single step
print("The product is:")
print(integer_number * decimal_number)

The sum is:
15.0
The product is:
50.0

### You can also declare a sentence/words(string of characters)

Solve this problem.

❓Declare a `string` with {your name} as value.

⚒ Solve by replacing the name "Julius" with your name.

In [ ]:
#Declare the string for someone whose name is Julius
str= "Julius"

print("My name is "+ str )

My name is Julius

### Let's make this more interesting...

⚒ Ask for the name from the user by using the `input` function and the greet them as "Welcome, {user's name}!" by using the `print` function.

In [ ]:
# Ask for the users name
user_name = input("You're name is: ")

# Greet the user
print("Welcome, " + user_name + "!")

You're name is: Basiima
Welcome, Basiima!

### ⚠ Did you notice ?

When you declare numbers(integers or float), you can simply assign it to a variable without getting any error.

```
integer_number = 5
decimal_number = 10.0

```
But when you are trying to declare a string,

❌ You cannot do that, you'll get an error.
```
string_1 = Julius
```
✅ You have to use quotes, then it's fine.
```
str = "Julius"
```

In [ ]:
# Try running this cell (An error will occur)
string_1 = Julius

print(str)

In [ ]:
#  Then try this
string_2 = "Julius"

print(string_2)

Julius

### ⚠ Other issues.

✅ You can do this:
```
integer_number = 5
float_number = 10.0
print(integer_number + float_number)
```
❌ You cannot do this:

```
integer_number = 4
string_value = "8"
print(integer_number + string_value)
```

In [ ]:
#You get an type error when you are trying to add string with int or float, try here.
integer_number = 5
string_value = "5"

print(string_value + integer_number )

### **This is the python syntax.**

Just like you cannot add a word with a number, in python you cannot add strings with numbers(integers/floats).

When we assign some value to a variable inside single/double quotation,like:

```
string_1 = "some string value"
```
Python assumes it as a string. We'll discuss why later.

**A string can be any character or digits.**

So, when we write:

```
string_2 = "5"
```
Here, 5 is not an integer but a string, that's why in the above example we get an `TypeError`.

*Now before you ask what does `TypeError` mean and what the heck is type in python, I would like you to rosolve the above issues by yourself.*

## **Data Types in python**

In Python, like in all programming languages, data types are used to classify one particular type of data. This is important because the specific data type you use will determine what values you can assign to it and what you can do to it (including what operations you can perform on it).

**Python has the following data types built-in by default, in these categories:**

| Categories | Data Type|
|:---:|:---:|
| Text Type | str |
| Numeric Types |	int, float, complex|
| Sequence Types |	list, tuple, range|
| Mapping Type |	dict|
| Set Types |	set, frozenset|
| Boolean Type |	bool|
| Binary Types |	bytes, bytearray, memoryview|
| None Type |	None |

### Commonly used data types

---



*  String (str)
*  Number (int, float )
*  Array (list)
*  Dictionary (dict)
*  Boolean (bool)

In [ ]:
# String (str)
foo = "Hello world"

# You can print the data types by using the function type, like this...
print(type(foo))

<class 'str'>

In [ ]:
# Number (int)
foo = 8

# Number (float)
bar = 7.0

# You can print the data types by using the function type, like this...
print(type(foo))
print(type(bar))

<class 'int'>
<class 'float'>

In [ ]:
# Array (list)
foo = ["apple", "banana", "cherry"]

# You can print the data types by using the function type, like this...
print(type(foo))

<class 'list'>

In [ ]:
# Boolean (bool)
foo = True

# You can print the data types by using the function type, like this...
print(type(foo))

<class 'bool'>

In [ ]:
# Object Notation/Dictionary (dict)
foo = {"name" : "John", "age" : 36}

# You can print the data types by using the function type, like this...
print(type(foo))

<class 'dict'>

Play with this data types to get familiar with these data types, we'll learn more about this when we'll be using it.

**In the next module we'll learn about how to think algorithmically, by learning vedic maths.I promise it'll not be boring maths that you did in your junior classes, it'll be fun & You'll learn to do calculations even faster than when you're using calculator.**